html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: #e7e7e7; /*#1d1f21;*/
    color: #1d1f21; /*#c9cacc*/;
    font-display: swap;
    font-weight: 400;
    font-size: 14px;
    font-family: "Menlo", "Meslo LG", monospace;
    line-height: 1.725;
    text-rendering: geometricPrecision;
}
.container{
    max-width: 48rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
    
}
.content{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-wrap: break-word;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#logo{
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    border: 2px #333 solid;
}

#logo:hover{
    -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
    filter: blur(1px);
}

#header{
    margin: 0 auto 2rem;
    width: 100%;
}

#header a{
    text-decoration: none;
}

#header #logo{
    float:left;
    margin-right: 20px;
}

#header span{
    margin-top: 0.5em;
    margin-bottom: 0;
    color: #1d1f21;
    letter-spacing: 0.01em;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2rem;
}

nav{
    color: #333;
    letter-spacing: 0.01em;
    font-weight: 200;
    font-style: normal;
    font-size: 0.8rem;
    margin: 0;
    margin-top:1em;
    padding: 0;
    list-style-type: none;
    line-height: 15px;
}

.content .navlink{
    display: inline-block;
    padding: 10px 0px;
    margin-right: 10px;
    color: #333;
    vertical-align: middle;
    background-image: none;
}
.content #header .navlink:hover{
    text-decoration: underline;
}

.content nav div{
    display: inline-block;
    margin-right: 6px;
    margin-top:-2px;
}


.content nav div:after {
    border-right: 1px dotted #333;
    content: '';
    height: 10%;
}
.content nav div:last-child a{
    margin-right: 0;
}
.content nav div:last-child::after{
    border-right: 0px dotted #333;
    content: '';
    height: 10%;
}

.content a{
    color: #1d1f21;
    text-decoration: none;
    background-image: linear-gradient(transparent, transparent 5px, #1d1f21 5px, #1d1f21);
    background-position: bottom;
    background-size: 100% 6px;
    background-repeat: repeat-x;
}

blockquote{
    border-left : 2px solid #333;
    padding-left: 1em;
}
.section-heading{
    color: #333;
}
.post-list{
    padding: 0;
}
.post-item{
    display: flex;
    margin-bottom: 5px;
}
.post-header{
    margin-bottom: 0;
}

.meta{
    text-align: left;
}

.post-list .post-item .meta{
    display: block;
    margin-right: 10px;
    min-width: 110;
    color: #aaa;
    font-size: 14px;
}

.darker{
    color: #666;
}

.project-list{
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}
.project-list .project-item{
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    /* width: 140px; */
}

.project-list .project-item p{
    display: inline;
}

.game{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.game .game-image{
    padding: 20px;
}

.game .game-image img{
    width: 200px;
}

img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding:0;
    background-color:#ffffff;
}

picture{
    margin-bottom: 0.5em;
}

table{
    border-collapse: collapse;
    width: 100%;
}
td,th{
    border:1px white solid;
}

input{
    width: 100%;
    margin:0.2em;
    padding: 0.7em;
    font-size: 16px;
    background-color: #eee;
    border: #aaa 1px solid;
    color:#222;
}
input[type=submit]{
    background-color: #aaa;
 }
input[type=submit]:hover{
   background-color: rgb(241, 231, 231);
}

pre{
    background-color: #fff;
    color: #1d1f21;
    padding:1em;
    border-radius: 1em;
    overflow: auto;
}
.tags{
    font-size: 32px;
}

code {
    background: #373832;
    color: #f8f8f2;
    border-radius: 5px;
    padding:4px;
}

.transparent{
    background-color: rgba(0,0,0,0);
}

#patreon{
    position:absolute;
    top: 4px;
    right: 4px;
}


@media only screen and (min-width: 600px) {
    #header h1{
        margin-top: 1em;
    }
    img {
      width: 80%;
    }
    #logo{
        width: 100px;
        height: 100px;
        background-size: 100px 100px;
        background-repeat: no-repeat;
        border-radius: 50%;
        background-position: center center;
        background-size: cover;
        border: 2px #333 solid;
    }
    form{
        display: block;
        margin: auto;
        margin-top:2em;
    }
    .game{
        flex-wrap: nowrap;
    }
  }

  picture img{
      image-rendering: auto;
  }

  img{
      image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges;
  }
