---
layout: layouts/wrapper.njk
title: Projects
description: Here you can find all of Jono's games in one place for you to play for free. All games are open source.
---

<section id="projects">
    <h1 class="section-heading">Arcade</h1>
    <ul class="project-list">
        {%- for post in collections.project | reverse -%}
        <li class="project-item">
            
            <a href="{{ post.data.link}}"><img style="width:80%;background: none;" src="{{ post.data.image}}">{{ post.data.title }}</a>
        </li>
        {%- endfor -%}
    </ul>
</section>