---
layout: layouts/wrapper.njk
title: Procedural Generation
description: From time to time Jono likes to use Procedural Generation to make cool things, find them here
---

<section id="writing">
    <h1 class="section-heading">Procgen</h1>
    <ul class="post-list">
        {%- for post in collections.procgen | reverse -%}
        <li class="post-item">
            <div class="meta">
                <time datetime="{{ post.data.date.toISOString() }}" itemprop="datePublished">{{ post.data.date.toShortFormat() }}</time>
            </div>
            <span>
                <a href="{{ post.url}}">{{ post.data.title }}</a>
            </span>
        </li>
        {%- endfor -%}
    </ul>
</section>