<header id="header">
    <a href="/">
        <div id="logo" style="background-image: url(/img/superboss.png);"></div>
        <div id="title">
            <h1>Jono Shields</h1>
        </div>
    </a>
    <nav>
        <!--<div><a class="navlink" href="/">Home</a></div>-->
        <div><a class="navlink" href="/archive">All</a></div>
        <div><a class="navlink" href="/photography">Photography</a></div>
        <div><a class="navlink" href="/arcade">Arcade</a></div>
        <div><a class="navlink" href="/tags">Tags</a></div>
    </nav>
</header>