{% set previousPost = collections.post | getPreviousCollectionItem(page) %}
{% set nextPost = collections.post | getNextCollectionItem(page) %}

{% if previousPost %}
    <a href="{{ previousPost.url }}"><b>Previous Post</b> - {{ previousPost.data.title }}</a>
{% endif %}
<br>
{% if nextPost %}
    <a href="{{ nextPost.url }}"><b>Next Post</b> - {{ nextPost.data.title }}</a>
{% endif %}