---
layout: layouts/wrapper.njk
permalink: post/{{ page.fileSlug }}/index.html
---
<h1 class="post-header">{{title}}</h1>
<div class="meta darker ">
    <time datetime="{{ date.toISOString() }}" itemprop="datePublished">{{ date.toShortFormat() }}</time>
    {%- for tag in tags -%}
        {% if tag != "post" %}
            [<a href="/{{tag}}">{{tag}}</a>]
        {% endif %}
    {%- endfor -%}
</div>



{{ content | safe }}

{% include "form.njk" %}