---
layout: layouts/wrapper.njk
permalink: project/{{ page.fileSlug }}/index.html
---

<h1 class="post-header">{{title}}</h1>
<div class="meta darker ">
    <time datetime="{{ date.toISOString() }}" itemprop="datePublished">{{ date.toShortFormat() }}</time>
</div>

<div class="game">
    <div class="game-image">
        <img src="{{image}}"/>
    </div>
    <div class="game-description">
        <a href="{{link}}">Play</a>
        <!--<a href="#">Source</a>-->
        {{ content | safe }}
    </div>
</div>
