<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css"/>
        <title>Jono Shields | {{title}}</title>
        <meta name="description" content="{{description}}">

        <link rel="canonical" href="https://jonoshields.com{{ site.url }}{{ page.url | url }}" />

        <meta name="msvalidate.01" content="6005C257EEEEB429FD2EB2818DAD2670" />
        <meta name="google-site-verification" content="P7JmVe_OI49Y2Rt4RHD3NC9csPSwjvQrXCV6e8DRZZ4" />
        <link rel="icon" type="image/png" href="/img/logo-128.png" sizes="128x128">
        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  
    </head>
    <body class="container">
        <div id="patreon"><a href="https://www.patreon.com/bePatron?u=9427808" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script></div>
        <div class="content">
            {% include "header.njk" %}
            {{ content | safe }}
        </div>
    </body>
</html>
