<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/style.css"/>
        <title>Jono Shields | {{title}}</title>
        <meta name="description" content="{{description}}">
    </head>
    <body class="container">
        <div class="content">
            {% include "header.njk" %}
            {{ content | safe }}
        </div>
    </body>
</html>